<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center"><h1></h1></div>

<div class="grid grid-pad">
  <a class="col-1-3" routerLink = "/characters">
    <div class="module hero"><h4>Character Designer</h4></div>
  </a>
  <a class="col-1-3" routerLink = "/combatDesigner">
    <div class="module hero"><h4>Combat Designer</h4></div>
  </a>
  <a class="col-1-3" routerLink = "/combatManager">
    <div class="module hero"><h4>Combat Manager</h4></div>
  </a>
</div>

<router-outlet></router-outlet>
